<div class="background">

    <div class="banner">
     <mat-toolbar class="col">
       <mat-toolbar-row>
         <h1>VPASS</h1>
         <span class="example-spacer"></span>
         <button mat-icon-button >
           <mat-icon>menu</mat-icon>
         </button>
       </mat-toolbar-row>
   
       <mat-toolbar-row>
         <span class="date">{{Date1 | date}}</span>
         <span class="example-spacer"></span>
         <a routerLink="Distributors" class="example-spacer">Distributor</a>
         <a routerLink="Authorizer" class="example-spacer">Authorizer</a>
         <a routerLink="wareHouse" class="example-spacer">WareHouse</a>
         <a routerLink="Admin" class="example-spacer">Admin</a>
         <button mat-button (click)="onClick()">Sign In</button> &nbsp;
         <button mat-icon-button  aria-label="Example icon button with a sign up"> Sign Up </button>
       </mat-toolbar-row>
     </mat-toolbar>
    </div>
    <div id="cont">
   <h2>Welcome to VPASS Website</h2>
    </div>
   
    <div class="finewp-foot-wrap finewp-container">
     <div class="finewp-outer-wrapper">
       <p class="finewp-copyright">Copyright © 2022 VPASS</p>
     </div>
    </div>
  </div>