<div class="container-fluid">
  <div>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <mat-toolbar-row>
        <div class="d-flex">
          <mat-icon>shopping_cart</mat-icon>&nbsp;
          <h1>VPASS</h1>
        </div>
        <span class="example-spacer"></span>
        <span class="date">{{ Date1 | date }}</span> &nbsp;
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button type="button" mat-button mat-button (click)="HomeBtn()">Home</button>
        <button type="button" mat-button >About Us</button>
        <button type="button" mat-button >Men</button>
        <button type="button" mat-button >Women</button>
        <button type="button" mat-button >Kids</button>
        <a routerLink="Authorizer" class="example-spacer">Authorizer</a>
        <span class="example-spacer"></span>
        <button class="btn" type="button" mat-button (click)="SignIn()">Sign In</button>
       </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="marq">
    <marquee behavior="scroll" onmouseover="stop()" onmouseout="start()" scrollAmount="10" direction="left">
      <p>
        Avail Flat ₹200 OFF + FREE SHIPPING.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        40% off on All New Collections. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Get upto 30% Off on 2990 and Above, Max Discount Rs. 2500.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Get upto Rs 1500 Mobikwik Cashback (assured cashback of Rs 200), on a minimum transaction value of Rs 5999 using Mobikwik.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Get 10% Instant Discount of up to Rs 1000 on a minimum transaction value of Rs 3500 using IDFC Credit Card.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Earn up to 5% VPASS Points (up to 150) and pay up to 3% using VPASS Points (up to 150) on orders for 1999 or above.
      </p>
    </marquee>
  </div>
  <div class="outro">
    <img src="https://github.com/7097474669/V-Pass/blob/main/SalesProjectUI/src/assets/HomePage1.png?raw=true" alt="ecom img">
    <div class="intro">
      <h2 color="primary">
        WELCOME TO <br><br> VPASS <br><br> ECOM WEBSITE!
      </h2>
      <br> <br>
      <p>
       With the new e-com app & website, the high- <br>
       quality service that we are known for is now <br>
       available. <br><br>
      </p>
      <button class="btn" type="button" (click)="SignIn()">Let's Explore >></button>

    </div>
  </div>
  <div>
    ddddddddddddddddddddddd
  </div>
</div>
