<!-- Toolbar -->
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Authorizer</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<!-- Update -->
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="My Profile" >
      <form [formGroup]="newTaskForm">
            <div class="form-group">
      <mat-card>
      <mat-form-field appearance="outline" >
          <mat-label>ID</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>MemberId</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field> <br>
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>Conact Number</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput required class="form-Control">
        </mat-form-field> <br>
        <button class="btn btn-success">Update</button>
        <button class="btn btn-danger mx-4">Cancel</button>
      </mat-card>  
  </div>
</form>
</mat-tab>
<!-- Table of List Distributor -->
<mat-tab label="List of  Micro Distributor"> 
  <table border="2px"> 
  <thead border="2px">
  <th>id</th>
  <th>Name</th>
  <th>credit_limit</th>
    <th>payments</th>
    <th>purchase_order</th>
    <th>Transaction</th>
    <th>sales_credit</th>
    <th>Track_order</th> 
    <th>update_status</th>
    <th>distributor_status</th>
    <tbody>
      <tr>        
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-success">Active</button></td>
      <td></td>
      </tr>
      

    </tbody>
  </table>
</mat-tab>

  
</mat-tab-group>
